<a href="https://colab.research.google.com/github/ernesto0721/phyton./blob/main/Fundamentos_De_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "Ernesto Urias"

print("hola ", nombre, ", inicial:", nombre[0], nombre[5])

hola mundo
hola  Ernesto Urias , inicial: E t

EJERCICIO,crear un programa en phyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("la suma es: ", resp)

la suma es:  14.5

EJERCICIO, crear un programa en phyton que sumedos numeros introducidos por el usuario

In [ ]:
print("num 1")
num1 = float(input())

print("num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

num 1
5.0
num 2
1
La suma es:  6.0

In [ ]:
nombre = "Ernesto Urias"
print(nombre[0:7], nombre[:7], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Ernesto Ernesto s to Urias
True
<class 'str'> <class 'float'> <class 'float'> <class 'bool'>

EJERCICIO, creeun programa en phyton que lea un numero y determine si es par impar

In [ ]:
num = int(input("ingrese un numero:"))
if num % 2 == 0:
  print("el numero es par", num)
else:
    print("elnumero es impar")

ingrese un numero:2
el numero es par 2

Ejercicio: uso de las funciones de usuario, con la suma de dos numeros

In [ ]:
def suma(num1,num2):
  return num1 + num2

In [ ]:
  num1 = float(input("num1:"))
  num2 = float(input("num2:"))
  resp = suma(num1,num2)
  print("La suma es: ", resp)

num1:5
num2:6
La suma es:  11.0

Ejercicio: convertir grados celsius a farenheit, usando funciones de usuario

In [ ]:
def covertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("celsius:"))
print("f: ", covertir_cf(c))

celsius:33
f:  91.4

Ejercicio: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
   if(num%2==0):
     return "par"
   return "impar"

In [ ]:
num = int(input("num: "))
print ("el numero", num, " es: ", parImpar(num))

num: 4
el numero 4  es:  par

Ejercicio: calcular sueldo de trabajo

In [ ]:
def sueldo(horas, valor):
  return horas * valor * 30

In [ ]:
horas = int(input("horas: "))
valor = float(input("valor: "))
print("sueldo: ", sueldo(horas, valor))

horas: 8
valor: 1.50
sueldo:  360.0

**TAREA:** Covertir grados fahrenheit a celsius

In [ ]:
def covertir(f):
  c = (f-32) * 5/9
  return c

In [ ]:
f = float(input("ingresa los grados fahrenheit: "))
print(f"La coversion a grados celsius es: Â¨{covertir(f)}")

ingresa los grados fahrenheit: 5
La coversion a grados celsius es: Â¨-15.0

Convertir grados celsius y fahrenheit a kelvin

In [58]:
def celsius_a_fahrenheit(c):
  return (c * 9/5) + 32

def celsius_a_kelvin(c):
  return c + 273.15

def fahrenheit_a_celsius(f):
    return (f - 32) * 5/9

def fahrenheit_a_kelvin(f):
    return (f + 459.67) * 5/9

def kelvin_a_celsius(k):
    return k - 273.15

def kelvin_a_fahrenheit(k):
    return (k * 9/5) - 459.67

In [68]:
seleccione = input("escribe '1' para convertir Celsius o escribe '2' para convertir Fahrenheit: ")
seleccion = int(seleccione)

if seleccion == 1:
 c= float(input("ingresa los grados celsius: "))
elif seleccion == 2:
 f= float(input("ingresa los grados fahrenheit: "))

celsius = fahrenheit_a_celsius(f)
kelvin = celsius_a_kelvin(c)
fahrenheit = celsius_a_fahrenheit(kelvin)

print("Celsius:", c)
print("Fahrenheit:", f)
print("Kelvin:", kelvin)

escribe '1' para convertir Celsius o escribe '2' para convertir Fahrenheit: 2
ingresa los grados fahrenheit: 25
Celsius: 0.0
Fahrenheit: 25.0
Kelvin: 273.15

Convertir grados celsius y fahrenheit a kelvin

In [72]:
seleccion = input("escribe '1' para convertir Celsius o escribe '2' para convertir Fahrenheit: ")
if seleccion == "1":
   def covertir_cf(c):
       return c + 273.15
   c = float(input("Grados Celsiusa covertir: "))
   print("Grados celsius a covertir:  ", covertir_cf(c))
elif seleccion == "2":
     def covertir_fk(f):
        return (f - 32) * 5/9 + 273.15
     f = float(input("Grados Fahrenheit covertir: "))
     print("Grados Fahrenheit a covertir:  ", covertir_fk(f))
else:
    print("opcion no valida")

escribe '1' para convertir Celsius o escribe '2' para convertir Fahrenheit: 1
Grados Celsiusa covertir: 70
Grados celsius a covertir:   343.15

EJERCICIO: obtener la raiz cuadrada de una serie de numero fijos

In [74]:
def raizCuadrada(num):
  return num ** 0.5

In [75]:
serie = [6, 9, 16, 25]
resp = map(raizCuadrada, serie)
print(list(resp))

[2.449489742783178, 3.0, 4.0, 5.0]